@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

:root {
  --bg-primary: rgb(46, 81, 237);
}

.custom-shadow {
  box-shadow: 7px 8px 66px 4px rgba(169, 167, 180, 0.75);
-webkit-box-shadow: 7px 8px 66px 4px rgba(157, 142, 223, 0.75);
-moz-box-shadow: 7px 8px 66px 4px rgba(150, 135, 216, 0.75);
}
